@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #333333;
  --purple-dark: #9A48D0;
  --purple-light: #B288C0;
  --green: #7BC950;
  --bg-light: #f5f5f5;
  --bg-dark: #1c1c1c;
  --text-light: #000000;
  --text-dark: #ffffff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backBtn {
  border: none;
}


@media (prefers-color-scheme: dark) {
  body { background: var( --purple-light); color: var(--black); }
}

@media (prefers-color-scheme: light) {
  body { background: var(--black); color: var(--white); }
}
   
